body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: orange;
}
.half-width{
   width: 42%;
   margin-left: 2%;
   padding: 5%;
   float: left;
   text-align: justify;
}
img{
    width: 35%;
}
